*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: inherit;
  background: #252746;
  color: var(--text-clr);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
/* global styles */

:root {
  --clr-one: #558cb9;
  --clr-two: rgba(15, 15, 15, 0.5);
  --clr-three: #c0c0c0;
  --clr-four: #2b223d;
  --text-clr: #eee;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

svg {
  fill: var(--clr-one);
}

/* navigation */

header {
  width: 100vw;
  height: 70px;
  background: var(--clr-two);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

.logo {
  margin-left: 50px;
}

.logo img {
  width: 100px;
  height: auto;
  margin: 0;
}

nav {
  margin-right: 50px;
}

nav ul li {
  display: inline-block;
  text-align: center;
  font-size: 17px;
  padding: 20px;
}

nav ul li a {
  color: var(--text-clr);
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.4s;
}

nav ul li a:hover {
  color: var(--clr-one);
}

.menu-icons {
  display: none;
}

.current {
  color: var(--clr-one);
}

@media screen and (max-width: 700px) {
  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .menu-icons {
    display: block;
  }

  .menu-icons svg {
    fill: var(--clr-three);
    cursor: pointer;
  }

  .close svg {
    fill: var(--clr-one);
  }

  .nav-list {
    width: 50vw;
    height: 100vh;
    background-color: var(--clr-three);
    position: fixed;
    top: 0;
    right: -50vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    z-index: 10000000;
    transition: all 0.65s ease-in-out;
  }

  .nav-list.active {
    right: 0;
  }

  .close {
    position: absolute;
    top: 20px;
    left: 25px;
  }

  nav ul li a {
    color: var(--clr-two);
  }
}

/* hero area */

/* .container{
    
} */

.sec1 {
  width: 100vw;
  min-height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(66, 35, 241, 0.4)),
    url(../images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
  /*background-attachment: fixed;*/
  padding-bottom: 100px;
  position: relative;
}

.sec2 {
  width: 100vw;
  min-height: 80vh;
  background: var(--clr-four);
  position: relative;
  padding-bottom: 50px;
}

.sec2::before {
  content: "";
  width: 51%;
  height: 120px;
  position: absolute;
  top: -58px;
  left: 0;
  background: var(--clr-four);
  transform: skewY(8deg);
}

.sec2::after {
  content: "";
  width: 51%;
  height: 120px;
  position: absolute;
  top: -58px;
  right: 0;
  background: var(--clr-four);
  transform: skewY(-8deg);
}

.text-part {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.text-part .box {
  width: 50vw;
  margin-left: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sec1 .text-part .box p {
  font-size: 25px;
  margin-bottom: 50px;
  text-transform: capitalize;
}

h1 {
  padding-top: 120px;
  font-size: 50px;
  text-shadow: 0 5px 10px #000;
  text-transform: capitalize;
  line-height: 1;
  margin-bottom: 30px;
}

h1 span {
  color: var(--clr-one);
}

.box h1 {
  transform: translateY(40px);
  opacity: 0;
  animation: 0.5s fadeUp 0.5s forwards;
}

.text-part .box p {
  transform: scale(2);
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.box .btn {
  opacity: 0;
  animation: 0.5s fade 1s forwards;
}

@keyframes fadeUp {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    transform: scale(2);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.sec2 .more {
  padding-bottom: 20px;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
}

.sec2 .text-part .card {
  position: relative;
  margin: 0 auto 50px;
  width: 300px;
  height: 400px;
  background: var(--clr-two);
  overflow: hidden;
}

.card .imgBx,
.card .details {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: 0.5s;
}

.card .imgBx {
  top: 0;
  left: 0;
}

.card:hover .imgBx {
  top: 0;
  left: -100%;
}

.card .imgBx img {
  width: 100%;
}

.card .details {
  background: var(--clr-two);
  top: 0;
  left: 100%;
  padding: 60px 30px;
}

.card:hover .details {
  top: 0;
  left: 0;
}

.card .details h2 {
  color: var(--text-clr);
  text-align: center;
  margin: 0;
  padding: 0 0 10px;
  border-bottom: 2px solid var(--clr-one);
}

.card .details p {
  margin: 20px 0 0;
  color: var(--text-clr);
}

.btn {
  padding: 20px 60px;
  color: var(--text-clr);
  position: relative;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  text-transform: uppercase;
  z-index: 0;
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
}

.btn:before,
.btn:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 25px;
  border-style: solid;
  border-color: var(--clr-one);
  transform: skew(-30deg);
  transition: all 0.2s ease-in-out;
}

.btn:before {
  bottom: 0;
  left: 0;
  border-width: 0 0 3px 3px;
}

.btn:after {
  top: 0;
  right: 0;
  border-width: 3px 3px 0 0;
}

.btn:hover {
  color: var(--text-clr);
}

.btn:hover:before,
.btn:hover:after {
  background: var(--clr-one);
  width: 99%;
  height: 99%;
  z-index: -1;
  transform: scale(0.8, 0.8) skew(-30deg);
}

@media screen and (max-width: 700px) {
  .text-part .box {
    width: 80vw;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

/* footer */

footer {
  width: 100%;
  background: var(--clr-two);
  color: var(--clr-three);
  padding: 30px;
  text-align: center;
}

footer .footer-icon {
  padding: 0 10px;
}

footer .footer-icon svg {
  fill: var(--text-clr);
  width: 30px;
  height: 30px;
  transition: fill 0.4s;
}

footer .footer-icon:hover svg {
  fill: var(--clr-one);
}

footer .footer-container p {
  width: 50%;
  margin: 0 auto;
  padding-top: 10px;
  border-top: 1px solid var(--clr-four);
}

footer p span {
  color: var(--clr-one);
}

/* about */
/* about section */

#showcase {
  min-height: 450px;
  text-align: center;
}

#showcase .bg-image {
  position: absolute;
  background: var(--clr-two)
    url(https://storage.googleapis.com/afs-prod/media/afs:Medium:6906200015/775.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: -1;
  opacity: 0.3;
}

#showcase .content-wrap {
  padding: 0 1.5em;
}

#section-a {
  background: var(--clr-four);
  padding: 100px 30px 0;
  text-align: center;
}
#section-a h2 {
  display: inline-block;
  font-size: 40px;
  margin-bottom: 50px;
  border-bottom: 4px solid var(--clr-one);
  padding-bottom: 10px;
}

.about-desc {
  width: 100%;
  min-height: 150px;
}

.about-desc h3 {
  font-size: 30px;
  margin-bottom: 15px;
  color: var(--clr-three);
}

.about-desc p {
  margin-bottom: 20px;
}

#section-a .logo-box {
  padding-bottom: 50px;
}

/* services section */

#section-b {
  padding: 100px 20px 20px;
  text-align: center;
  background: var(--clr-three);
  width: 100%;
}

#section-b.sec2::before,
#section-b.sec2::after {
  background: var(--clr-three);
}

#section-b h2 {
  display: inline-block;
  font-size: 40px;
  margin-bottom: 50px;
  border-bottom: 4px solid var(--clr-one);
  padding-bottom: 10px;
}

#section-b li {
  margin-bottom: 15px;
  background: var(--clr-two);
}

#section-b li img {
  display: block;
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
}

.card-content h3,
.card-content p {
  padding: 15px 0;
}

@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(1, minmax(auto, 50em)) 1fr;
  }

  #section-a {
    padding: 110px 30px 0;
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }

  .about-desc {
    width: 350px;
  }

  #section-b {
    padding: 110px 20px 20px;
  }

  .content-wrap,
  #section-b ul {
    grid-column: 2/3;
  }

  #section-b .sec2 {
    display: grid;
    grid-template-columns: 1fr repeat(1, minmax(auto, 100em)) 1fr;
  }

  #section-b ul {
    display: flex;
    justify-content: space-around;
  }

  #section-b li {
    width: 31%;
  }
}

.text-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.text-container .left,
.text-container .right {
  width: 45%;
}

/* contact */

.box svg {
  width: 40px;
  height: 40px;
  fill: var(--clr-three);
  background: #222;
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
  transition: background 0.4s;
}

.touch-con .box:hover svg {
  background: var(--clr-one);
}

.container-b {
  width: 80%;
  margin: 0 auto;
}

.container-b h1 {
  text-align: center;
  margin-bottom: 50px;
}

.container-b .contact-wraper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-wraper h2 {
  text-transform: capitalize;
  margin-bottom: 50px;
  position: relative;
}

.contact-wraper h2::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -30px;
  left: 0;
  height: 5px;
  width: 50px;
  background: var(--clr-one);
}

.contact-wraper .form-con {
  width: 60%;
}

.input-box input,
.input-box textarea {
  width: 100%;
  padding: 10px 0 10px 10px;
  margin-bottom: 10px;
  color: #fefefe;
  border: 2px solid #444;
  outline: none;
  background: var(--clr-two);
  font-family: arial, sans-serif;
}

.input-box textarea {
  padding: 10px 0 80px 10px;
  font-size: 14px;
}

input[type="submit"] {
  background: transparent;
  border: 2px solid #444;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  color: #fefefe;
  text-transform: uppercase;
  margin: 30px 0 50px;
  font-weight: bold;
  transition: 0.4s;
  font-family: arial, sans-serif;
}

input[type="submit"]:hover {
  background: var(--clr-one);
  border: 2px solid transparent;
}

.contact-wraper .touch-con {
  width: 35%;
  min-width: 300px;
}

.touch-con .box {
  border: 2px solid #444;
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  line-height: 20px;
}

@media screen and (max-width: 1000px) {
  .contact-wraper .form-con {
    width: 100%;
  }

  .contact-wraper .touch-con {
    width: 100%;
  }

  /*.touch-con .box{
  flex-direction: column;
}*/
}

.screen-wipe-top {
  width: 100%;
  height: 100vh;
  background: var(--clr-one);
  position: fixed;
  z-index: 1000;
  top: -100%;
}

.screen-wipe-bottom {
  width: 100%;
  height: 100vh;
  background: var(--clr-one);
  position: fixed;
  z-index: 1000;
  bottom: -100%;
}
