*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: inherit;
  background: #252746;
  color: var(--text-clr);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
/* global styles */

:root {
  --clr-one: #558cb9;
  --clr-two: rgba(15, 15, 15, 0.5);
  --clr-three: #c0c0c0;
  --clr-four: #2b223d;
  --text-clr: #eee;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

svg {
  fill: var(--clr-one);
}

/* navigation */

header {
  width: 100vw;
  height: 70px;
  background: var(--clr-two);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

.logo {
  margin-left: 50px;
}

.logo img {
  width: 100px;
  height: auto;
  margin: 0;
}

nav {
  margin-right: 50px;
}

nav ul li {
  display: inline-block;
  text-align: center;
  font-size: 17px;
  padding: 20px;
}

nav ul li a {
  color: var(--text-clr);
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.4s;
}

nav ul li a:hover {
  color: var(--clr-one);
}

.menu-icons {
  display: none;
}

.current {
  color: var(--clr-one);
}

@media screen and (max-width: 700px) {
  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .menu-icons {
    display: block;
  }

  .menu-icons svg {
    fill: var(--clr-three);
    cursor: pointer;
  }

  .close svg {
    fill: var(--clr-one);
  }

  .nav-list {
    width: 50vw;
    height: 100vh;
    background-color: var(--clr-three);
    position: fixed;
    top: 0;
    right: -50vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    z-index: 10000000;
    transition: all 0.65s ease-in-out;
  }

  .nav-list.active {
    right: 0;
  }

  .close {
    position: absolute;
    top: 20px;
    left: 25px;
  }

  nav ul li a {
    color: var(--clr-two);
  }
}

/* hero area */

/* .container{
    
} */

.sec1 {
  width: 100vw;
  min-height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(66, 35, 241, 0.4)),
    url(../images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
  /*background-attachment: fixed;*/
  padding-bottom: 100px;
  position: relative;
}

.sec2 {
  width: 100vw;
  min-height: 80vh;
  background: var(--clr-four);
  position: relative;
  padding-bottom: 50px;
}

.sec2::before {
  content: "";
  width: 51%;
  height: 120px;
  position: absolute;
  top: -58px;
  left: 0;
  background: var(--clr-four);
  transform: skewY(8deg);
}

.sec2::after {
  content: "";
  width: 51%;
  height: 120px;
  position: absolute;
  top: -58px;
  right: 0;
  background: var(--clr-four);
  transform: skewY(-8deg);
}

h1 {
  padding-top: 120px;
  font-size: 50px;
  text-shadow: 0 5px 10px #000;
  text-transform: capitalize;
  line-height: 1;
  margin-bottom: 30px;
}

h1 span {
  color: var(--clr-one);
}

.box h1 {
  transform: translateY(40px);
  opacity: 0;
  animation: 0.5s fadeUp 0.5s forwards;
}

.text-part .box p {
  transform: scale(2);
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.box .btn {
  opacity: 0;
  animation: 0.5s fade 1s forwards;
}

@keyframes fadeUp {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    transform: scale(2);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
